'menu': [
  {
      'label': 'Packages'
      'submenu': [
        'label': 'Titanium'
        'submenu': [
          {
            'label': 'Open related',
            'command': 'ti-alloy-related:openRelated'
        }
        ]
    ]
  }
]
